@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap');

:root{
    --color-text: #ffffff;
    --color-text-light: rgba(255, 255, 255, 0.50);
    --color-border: #ced4da;
    --color-bg-input: rgba(255, 255, 255, 0.60);
    --color-orange: #F24F00;
}

body {
    background: rgb(15,15,15);
    background: linear-gradient(90deg, rgba(15,15,15,1) 0%, rgba(39,106,120,1) 100%);
    font-family: 'Montserrat', sans-serif;
}

.punchline {
    font-style: italic;
    font-size: 1.5rem;
    margin: 2rem auto 0.5rem auto;
    padding: 1rem;
    width: 80%;
    text-align: center;
    color: var(--color-text);
    line-height: 2.5rem;
}

.punchline strong {
    color: var(--color-orange);
}

.punchline-autor {
    font-size: 0.8rem;
    margin: 0 auto;
    width: 80%;
    text-align: center;
    color: var(--color-text-light);
}

.standard-banner h2 {
    color: var(--color-text-light);
    font-size: 2.5rem;
    margin: 2rem auto;
}

@media screen and (max-width: 500px) {
    .punchline {
        font-size: 1rem;
    }
}

/* Navbar */

.navbar {
    display: flex;
    background-color: #ffffff36;
  }

.container-fluid {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.navbar-collapse {
    justify-content: space-around;
}

.nav-link {
    color: var(--color-text);
    font-size: 1.2rem;
    margin-left: 5rem;
}

.nav-link:hover {
    color: var(--color-orange);
}

.navbar-nav .nav-link.active {
    color: var(--color-orange);
}

.avatar {
    width: 6rem;
}

/* Page d'accueil */

.birthday-banner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 3rem auto 4rem auto;
}

.birthday-logo {
    width: 15rem;
}

.birthday-title {
    color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.birthday-title h1 {
    font-size: 3rem;
}

.birthday-save {
    width: 35rem;
}

.birthday-text {
    width: 50%;
    color: var(--color-text);
    font-size: 1.3rem;
    line-height: 1.2;
    text-align: justify;
    text-indent: 10%;
    margin: 1.5rem auto 0.8rem auto;
}

.bold-text{
    font-weight: bold;
}

.light-text {
    color: rgba(255, 255, 255, 0.60);
    font-style: italic;
    margin-bottom: 2rem;
}

.italic-text {
    font-style: italic;
}

.underline-text {
    text-decoration: underline;
}

.home-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.teams {
    display: flex;
    justify-content: center;
}

.teams-video {
    width: 70%;
    height: auto;
    margin: 5rem 2rem;
    box-shadow: 5px 5px 25px -3px var(--color-orange);
}

.global-compteur {
    margin: 2rem auto;
    display: flex;
    width: 50%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-bg-input);
    border: 1px solid var(--color-border);
}

.global-compteur-text {
    text-align: center;
    font-size: 1.5rem;
    color: var(--color-text);
    padding: 2rem 1rem 0 1rem;
}

.global-compteur-text-small {
    color: var(--color-text);
    font-size: 1rem;
    text-align: center;
    font-style: italic;
}

#compteur {
    display: flex;
    justify-content: center;
    text-align: center;
    color: var(--color-orange);
    font-size: 1.5rem;
    padding: 2rem 1rem;
}

@media screen and (max-width: 900px) {
    .birthday-text {
        width: 80%;
    }
    .global-compteur {
        width: 70%;
    }
}

@media screen and (max-width: 500px) {
    .birthday-save {
        width: 10rem;
    }
    .birthday-logo {
        width: 10rem;
    }
    .birthday-text {
        font-size: 1rem;
        width: 90%;
    }
    .teams-video {
        width: 90%;
    }
    .global-compteur {
        width: 90%;
    }

}

/* Galerie */

.form-label {
    color: var(--color-text);
}

.form-container {
    width: 65%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    color: var(--color-orange);
    background-color: var(--color-bg-input);
    text-align: center;
    border-radius: .375rem;
    margin: 2rem auto;
}

.alert-custom {
    padding: 1rem;
    font-size: 1.5rem;
}

@media screen and (max-width: 500px) {
    .alert-custom {

        font-size: 1rem;
    }

}

/* Page d'inscription */

.container-aside {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
}

.container {
    width: 65%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid var(--color-border);
    border-radius: .375rem;
    margin: 2rem auto;
}

.aside {
    width: 40%;
    margin: 2rem auto;
}

.aside-h3 {
    color: var(--color-text);
    background-color: var(--color-bg-input);
    text-align: center;
    padding: 1rem 0.5rem;
    line-height: 2rem;
    font-size: 1rem;
}

.aside-li {
    color: var(--color-orange);
    margin: 1rem;
    text-align: center;
}

.aside-answered {
    border: 1px solid var(--color-border);
    border-radius: .375rem;
    margin-bottom: 2rem;
}

.aside-adult-kid {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.aside-adult {
    border: 1px solid var(--color-border);
    border-radius: .375rem;
    margin-right: 0.5rem;
    width: 100%;
}

.aside-kid {
    border: 1px solid var(--color-border);
    border-radius: .375rem;
    margin-left: 0.5rem;
    width: 100%;
}

.aside-li-nb {
    color: var(--color-orange);
    margin: 1rem;
    text-align: center;
}

.form {
    padding: 1.5rem;
}

h2 {
    text-align: center;
    margin: 1rem;
}

.form-control::placeholder {
    color: black;
}

.form-control, .form-select {
    background-color: var(--color-bg-input);
    color: black;
}

.form-check {
    margin: 1.5rem;
    padding-left: 0;
}

.form-check-radio {
    margin-bottom: 1rem;
}

.form-input {
    margin-bottom: 2rem;
}

.label-text {
    color: var(--color-text);
    margin-bottom: 0.5rem;
}

.contact-submit {
    display: flex;
    justify-content: center;
}

.btn-custom {
    background-color: rgba(249, 211, 97, 0);
    border-color: var(--color-orange);
    margin-bottom: 3rem;
}

.btn-custom:hover {
    background-color: var(--color-orange);
    border-color: var(--color-orange);
}

@media screen and (max-width: 900px) {
    .container-aside {
        flex-direction: column;
    }
    .container {
        width: 95%;
    }
    
    .aside {
        width: 95%;
    }
}

/* Page d'erreur */

.error-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
}

.error-message-image {
    width: 30%;
    padding: 2rem;
    border: 1px solid var(--color-border);
    border-radius: 20px;
    background-color: #ffffff85;
}

.error-message h3{
    margin: 3rem 0 2rem 0;
    color: #fff;
}

.error-message h4{
    margin: 2rem 0;
    color: #fff;
}

@media screen and (max-width: 900px) {
    .error-message-image {
        width: 80%;
    }
    .error-message h3{
        margin: 3rem 1rem 2rem 1rem;
    }
    .error-message h4{
        margin: 1rem;
    }
}

@media screen and (max-width: 500px) {
    .error-message h3{
        font-size: 0.8rem;
    }
    .error-message h4{
        font-size: 0.8rem;
    }
    .error-message-image {
        width: 60%;
    }
}

/* Page de succès */

.success-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
}

.success-message-image {
    width: 30%;
    padding: 2rem;
    border: 1px solid var(--color-border);
    border-radius: 20px;
    background-color: #ffffff85;
}

.success-message h3{
    text-align: center;
    margin: 3rem 0 2rem 0;
    color: #fff;
}

.success-message h4{
    text-align: center;
    margin: 2rem 0;
    color: #fff;
}

@media screen and (max-width: 900px) {
    .success-message-image {
        width: 80%;
    }
    .success-message h3{
        margin: 3rem 1rem 2rem 1rem;
    }
    .success-message h4{
        margin: 1rem;
    }
}

@media screen and (max-width: 500px) {
    .success-message h3{
        font-size: 0.8rem;
    }
    .success-message h4{
        font-size: 0.8rem;
    }
    .success-message-image {
        width: 60%;
    }
    .btn-custom {
        font-size: 0.8rem;
        margin: 1rem 1rem 2rem 1rem;
    }
}

/* Réunion de chantier */

/* .site-meeting-where {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 2rem auto;
}

.site-meeting-icon {
    width: 5rem;
}

.site-meeting-where h2{
    color: var(--color-text-light);
    font-size: 2.5rem;
}

.site-meeting-where h3{
    color: var(--color-text-light);
    font-size: 2rem;
    margin: 2rem auto;
    font-weight: bold;
}

.site-meeting-where p{
    color: var(--color-text-light);
    font-size: 1rem;
    line-height: 2rem;
    text-align: center;
}

.site-meeting-where-picture {
    width: 50%;
    margin: 2rem auto;
    box-shadow: #f2510080 0px 54px 55px, #f2510080 0px -12px 30px, #f2510080 0px 4px 6px, #f2510080 0px 12px 13px, #f2510080 0px -3px 5px;
}

.site-meeting-image {
    width: 50%;
    margin: 2rem;
}

p.underline {
    color: var(--color-orange);
    margin-top: 1rem;
} */

.accordion {
    margin: 4rem auto;
    width: 90%;
}
.accordion input {
    display: none;
}
.box {
    position: relative;
    height: 10rem;
    transition: all .30s ease-in-out;
}
.box::before {
      content: '';
      position: absolute;
      display: block;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      pointer-events: none;
      box-shadow: 0 -1px 0 var(--color-orange);
}
 
.box-title {
    width: 90%;
    height: 10rem;
    padding: 0 1rem;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    cursor: pointer;
    color: var(--color-text-light);
    font-size: 2rem;
    text-align: center;
    -webkit-touch-callout: none;-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;
}

.site-meeting-icon {
    width: 4rem;
    margin: 0 1rem;
}

.box-content {
    margin: auto;
    width: 100%;
    font-size: 1.5rem;
    color: var(--color-text-light);
    line-height: 1.8rem;
    text-align: center;
    display: none;
}

.box-content-paragraph {
    line-height: 3rem;
}

.box-content p {
    margin: 1.5rem;
}

.box-content-text p {
    margin: 1.3rem;
}

.box-content-text strong {
    font-weight: bold;
    font-size: 2.5rem;
}

.site-meeting-where-picture {
    width: 50%;
    margin: 1.5rem auto;
}

.box-content-map {
    width:80vw;
    height: 50vh;
    margin: 1rem;
}

.box-close {
    position: absolute;
    height: 7rem;
    width: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
    display: none;
}

input:checked + .box {
    height: auto;
    margin: 1rem 0;
    box-shadow: 0 0 6px rgba(0,0,0,.16),0 6px 12px rgba(0,0,0,.32);
}

input:checked + .box .box-title {
    border-bottom: 1px solid var(--color-orange);
}

input:checked + .box .box-content,
input:checked + .box .box-close {
    display: inline-block;
}

.arrows section .box-title {
    width: 90%;
}

.arrows section .box-title:before {
    position: absolute;
    display: block;
    font-size: 1.1rem;
    left: 1.25rem;
    top: -2px;
    transition: transform .15s ease-in-out;
    color: rgba(0,0,0,.54);
}

input:checked + section.box .box-title:before {
    transform: rotate(90deg);
}

.carousel-inner {
    display: flex;
    justify-content: space-around;
    padding: 1rem;
}

.d-block {
    width: 50%;
    box-shadow: 5px 5px 25px -3px var(--color-orange);
}

.teams-list {
    line-height: 5rem;
}

.aside-li a {
    font-size: 1rem;
    margin: 1rem;
    line-height: 1.2;
}

@media screen and (max-width: 900px) {
    .box-title {
        font-size: 1.5rem;
    }

    .site-meeting-icon {
        width: 3rem;
    }

    .box-content {
        font-size: 1.25rem;
        line-height: 1.5rem;
    }

    .site-meeting-where-picture {
        width: 80%;
    }

    .d-block {
        width: 100%;
        justify-content: center;
    }

    .carousel-inner {
        justify-content: space-between;
    }

    .box-content-paragraph {
        line-height: 2rem;
    }
}

@media screen and (max-width: 500px) {
    .box-title {
        font-size: 1rem;
    }
    
    .site-meeting-icon {
        width: 2rem;
    }

    .box-content {
        font-size: 1rem;
        line-height: 1.2rem;
    }

    .site-meeting-where-picture {
        width: 100%;
    }

    .d-block {
        width: 100%;
    }

    .carousel-item img {
        margin: auto;
    }

    .box-content-map {
        height: 20vh;
    }

    .box-content-text strong {
        font-size: 2rem;
        line-height: 2.5rem;
    }

    .box-content-paragraph {
        line-height: 1.5rem;
    }
}

/* Pages en construction */

.construction {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.construction-image {
    width: 80%;
    margin: 2rem;
}

/* Prank Brice */

/* #banner {
    display: flex;
    width: 100%;
    margin: auto;
    padding: 0 1rem;
    background-color: var(--color-orange);
    text-align: center;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }

  .banner-strong {
    font-weight: bold;
  }
  
  #banner h1 {
    color: var(--color-text);
    font-size: 2rem;
    font-weight:bold;
    padding: 1rem;
  }
  
  #banner p {
    color: #ffffff;
    font-size: 1.3rem;
    line-height: 1.5;
  }

  .banner-pics {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  } 
  
  .banner-button {
    background-color: #ffffff;
    color: var(--color-orange);
    border: none;
    margin: 1.5rem 1rem;
    padding: 0.7rem 2rem;
    font-size: 1rem;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
  }

  .banner-time {
    color: var(--color-text);
    margin-bottom: 1rem;
    line-height: 1.2;
    font-weight: bold;
  } */

/* Pages des équipes */

.standard-banner strong {
    font-weight: 600;
}

.team-title {
    border: 1px solid var(--color-orange);
    border-radius: .375rem;
    width: auto;
    margin: 0 10rem;
    font-weight: 600;
}

.team-page {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.fun-picture {
    width: 40%;
    margin: 2rem;
    box-shadow: 5px 5px 25px -3px var(--color-orange);
}

.team-text {
    color: var(--color-orange);
}

@media screen and (max-width: 900px) {
    .fun-picture {
        width: 70%;
    }

    .team-page {
        margin-top: 1.5rem;
    }

    .team-title {
        margin: 0 5rem;
    }
}

@media screen and (max-width: 500px) {
    .fun-picture {
        width: 90%;
    }

    .team-page {
        margin-top: 1rem;
    }

    .team-title {
        margin: 0 3rem;
    }
}

@media screen and (max-width: 330px) {
    .team-title {
        margin: 0 1rem;
    }
}
  